<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <h2>User info</h2>
      <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
      <table class="table">
        <tbody>
          <tr>
            <th>name</th>
            <th><%= @user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= @user.introduction %></th>
            <% if @user.id == current_user.id %>
            <p><%= link_to "<button class="btn btn-default"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></button>", edit_user_path(@user) %></p>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>  
    <div class="create-book">
    <h2><b>New book</b></h2>
      <%= form_with model:@book, local:true do |f| %>
    <h3 class="book-title">Title</h3>
      <% f.text_field :title %>
    <h3 class="book-opinion">Opinion</h3>
      <% f.text_area :oninion %>
    <p class="create-button"><button class="btn btn-primary"><%= submit "Create Book" %></button></p>

    <div class="col-lg-9">
      <h2>Books</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th><%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %></th>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <img class="attchment user profile_image fallback" alt="No image icon" >
            </td>
            <td>
              gggggggg
            </td>
            <td>
              gggggggg
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>