<div class="container">
  <div class="row">
    <% if @book.errors.any? %>
　　<div id="error_explanation" class="alert alert-danger">
      <h2 class="error"><%= @book.errors.count %> errors prohibited this book from being saved:</h2>
      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li class="error"><%= message %></li>
      </ul>
      <% end %>
    </div>
    <% end %>
    <div class="col-xs-3">
      <% if flash[:notice] %>
      <div class="flash" style="color: #00ff7f;">
        <%= flash[:notice] %>
      </div>
     <% end %>
      <h2>User info</h2>
      <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
      <table class="table">
        <tbody>
          <tr>
            <th>name</th>
            <th><%= @user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= @user.introduction %></th>
          </tr>
        </tbody>
      </table>
      <div class="edit-button">
        <% if @user.id == current_user.id %>
          <%= link_to edit_user_path(@user), class: "btn btn-default btn-block" do %>
　　　　  <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
　　　　  <% end %>
　　　　<% end %>
　　　</div>

      <div class="create-book">
        <h2><b>New book</b></h2>
          <%= form_with model:@book, local:true do |f| %>
            <h3 class="book-title">Title</h3>
          <%= f.text_field :title %>
            <h3 class="book-opinion">Opinion</h3>
          <%= f.text_area :body %>
          <%= f.submit "Create Book", class: "btn btn-primary" %>
          <% end %>
      </div>
    </div>

    <div class="col-xs-9">
      <p class="notice" style="color: #00ff7f;"><%= notice %></p>
      <h2>Books</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
            <tr>
              <%= link_to user_path(book.user.id) do %>
              <td><%= attachment_image_tag @user, :profile_image, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg", size: "40x40" %></td>
               <% end %>
              <td>
                <%= link_to book_path(book.id) do %>
                  <%= book.title %>
                <% end %>
              </td>
              <td><%= book.body %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    </div>
  </div>